---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Rólam"
	description="mittomen"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Csácsá, Csongi vagyok!
	</p>

	<p>
		19 éves és a BME-n tanulok fizika szakon. nagyon élvezem! Emellett szeretek sportolni
		es tancolni.
	</p>

	<p>
		Erre a honlapra meg szeretnék összerakni fizika és matek tanítós anyagokat.
		Szeretném, hogy élvezhető legyen, ezér rakok bele sok szimulaciot meg neha vicces részeket.
		De azt is szeretném, hogy sok információt lehessen megtanulni, így lesznek feladatok meg
		minden jóság. Remélem hasznodra válik majd!
	</p>
</Layout>
