---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import BoidBackground from '../components/BoidBackground.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="hu">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<BoidBackground />
		<Header />
		<main>
			<h1>Sziaaaaa!</h1>
			<p>
				Remelem hasznat veszed majd ennek a honlapnak! A blog reszleghez toltom
				fel a kis tanulos anyagokat, nyugodtan irj ha valahol hibat talalsz vagy
				nem ertheto valami.
			</p>
			<p>
				Üdv, CsongiBongi
			</p>
		</main>
		<Footer />
		<style>
			/* Override global body background to let the canvas show through */
			:global(body) {
				background: transparent;
			}
		</style>
	</body>
</html>
